<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBERO</title>
    <link rel="stylesheet" href="View/assets/css/home.css">

</head>
<body>
    <header>
        <h1>LIBERO</h1>
        <nav>
            <ul>
                <li><a class="navigation" href="#">HOME</a></li>
                <li><a class="navigation" href="#">NEWS</a></li>
                <li><a class="navigation"href="#">EVENTS</a></li>
                <li><a class="navigation"href="#">WORLD</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>How do you feel about recycling? </h2>
            <form>
                <div>
                    <label for="postcode">Postcode:</label>
                    <input type="text" id="postcode" name="postcode">
                </div>

                <label> <h3>Should the government start enforcing garbage separation and recycling schemes across your area?</h3>
                    <input type="radio" name="enforce_recycling" value="yes"> Yes
                </label>
                <label>
                    <input type="radio" name="enforce_recycling" value="no"> No
                </label>


                <div>
                    <label for="email">E-mail Address:</label>
                    <input type="email" id="email" name="email">
                </div>

                <div>
                    <label for="mobile">Mobile Number:</label>
                    <input type="tel" id="mobile" name="mobile">
                </div>


                <button type="submit">Submit</button>
            </form>
        </section>
        
        <aside>
            <article>
                <h3>Phasellus augue sapien</h3>
            </article>
           
        </aside>
    </main>

    <footer>
        <ul>
            <li>Phasellus</li>
            <li>Ague</li>
            <li>Sapien</li>

        </ul>
    </footer>
</body>
</html>

